html {
    box-sizing: border-box;
    font-size:1.0rem;
    font-weight:600;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
background-color: #7900bb;
background-image: linear-gradient(to top, #14d100 0%, #7900bb 100%);
color: #000000;
min-height:100vh;
    text-align: center;
    font-family: 'Kalam', cursive;
}

.logo{
    width: 180px;
}

audio { 
  max-width: 260px; 
  border-radius: 6px;
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);
  background-color: black;
  border: 2px solid #14d100;
}

a{
    color:#14d100;
    max-width:400px;
    margin:0 auto 15px auto;
    border: 2px solid #14d100;
    display:block;
    background-color: #7900bb;
    text-decoration:none;
    padding: 10px 20px;
    font-size:1.0rem;
    border-radius:6px;
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);
} 

    .hii {
        position: relative;
        background-color: #7900bb;
        color: #14d100;
        font-weight:600;
        border-radius:6px;


    }
          a.before
           { content:"";
            position:absolute;
            top: 2px;
            left: 2px;
            width:calc(100% - 4px);
            border:2px solid black;
            height:calc(100% - 4px);
           }

h2{
    font-size:1.0rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
}

.channels{
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}
.channels 
       
        a{
        flex:1;
        background-color:#14d100 ;
        padding:7px 10px;
        margin-right:-0px;
        border: 2px solid #14d100;
        border-radius:6px;
    }